*{
  margin :0%;
  padding:0%;
  box-sizing:border-box;
}

html,
body,#root{
  height:100%;
  width:100%;
}

main{
  height:100%;
  width:100%;
  padding:1.5rem;
  display:flex;
  gap:1rem;
}
main .left , main .right{
  height:100%;
  flex-basis:50%;
  border-radius: 0.5rem;
}

main .left {
  background-color: black;
  position:relative;
}

main .right{
  background-color: #343434;
  padding:1rem 2rem;
  overflow:auto;

}

main .left .review{
  position:absolute;
  bottom:1rem;
  right:1rem;
  background-color: rgb(214, 214, 240);
  color:black;
  font-weight: 500;
  padding:0.5rem 2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  user-select: none;
}

.left .code,.code pre,.code pre code {
height:100% ;
width:100%;
margin:0;
border-radius: 0.7rem;
background-color: black;
}